{extend name='layout/main' /}

{block name='main'}
<div class="title">列表</div>
<div class="table">
    <table>
        <tr>
            <th>编号</th>
            <th>名称</th>
            <th>seo标题</th>
            <th>seo关键字</th>
            <th>seo描述</th>
            <th>操作</th>
        </tr>
        {foreach $list as $it}
        <tr>
            <td>{$it.site_id}</td>
            <td>{$it.name}</td>
            <td>{$it.title}</td>
            <td>{$it.keyword}</td>
            <td>{$it.desc}</td>
            <td>
                <a href="/admin/sites/edit?site_id={$it.site_id}" data-edit="{$it.site_id}" >编辑</a>
            </td>
        </tr>
        {/foreach}
    </table>
</div>

{/block}

{block name='javascript'}
{/block}