{extend name='layout/main' /}

{block name='main'}
<div class="title">客户咨询日志</div>
<div class="handle">
    <a href="#" title="批量删除" class="disabled" id="delete_select"><i class="iconfont">&#xe609;</i></a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="/api/consult_exportExcel" id="export_excel" title="导出"><i class="iconfont">导出</i></a>
</div>
<div class="table">
    <table>
        <tr>
            <th><input type="checkbox" id="selectall"></th>
            <th>编号</th>
            <th>用户名</th>
            <th>邮箱</th>
            <th>手机号</th>
            <th>工作签证</th>
            <th>地区</th>
            <th>咨询内容</th>
            <th>咨询时间</th>
            <th>操作</th>
        </tr>

        {foreach $list as $it}
        <tr>
            <td class="checkbox"><input type="checkbox" name="id[]" value="{$it.id}"></td>
            <td>{$it.id}</td>
            <td class="title">{$it.username}</td>
            <td>{$it.email}</td>
            <td>{$it.phone}</td>
            <td>{$it.work_permit}</td>
            <td>{$it.address}</td>
            <td>{$it.content}</td>
            <td>{$it.time}</td>
            <td>
                <a href="javascript:;" data-edit="{$it.id}" >编辑</a>
                <a href="javascript:;" data-delete="{$it.id}">删除</a>
            </td>
        </tr>
        {/foreach}
    </table>
</div>

<div class="page">
    {$list->render()}
    <div class="page_record">共<strong>{$list->total()}</strong>条记录，每页显示：<strong>{$list->listRows()}</strong>条记录  共<strong>{$list->lastPage()}</strong>页</div>
</div>

{/block}

{block name='javascript'}
<script src="/asset/js/consult.js"></script>
{/block}