{extend name='layout/main' /}

{block name='main'}

<div class="title">{if $Think.cookie.column_id}修改栏目{else}添加栏目{/if}</div>
<div class="form article_form">
    <form id="column" method="post" action="/api/edit_column">
        <div class="error"></div>
        <div class="success"></div>
        <div>
            <label>
                <span>是否英文：</span>
                <span>
                    <input type="radio" style="-webkit-appearance:checkbox" name="is_en" value="1" {if $column.is_en == 1}checked{/if} >中文
                    <input type="radio" style="-webkit-appearance:checkbox" name="is_en" value="2" {if $column.is_en == 2}checked{/if} >英文
                </span>
            </label>
        </div>
        <div>
            <label>
                <span>别名：</span>
                <span>
                    <input type="radio" style="-webkit-appearance:checkbox" name="alias_name" value="company" {if $column.alias_name == 'company'}checked{/if} >公司信息
                    <input type="radio" style="-webkit-appearance:checkbox" name="alias_name" value="contact_us" {if $column.alias_name == 'contact_us'}checked{/if} >联系我们
                </span>
            </label>
        </div>
        <div>
            <label>
                <span>名称：</span>
                <span><input type="text" name="name" value="{$column.name}"></span>
            </label>
        </div>
        <div>
            <label>
                <span>正文：</span>
                <span>
                     <script id="editor" name="body" type="text/plain">{$column.body}</script>
                </span>
            </label>
        </div>

        <div>
            <label>
                <span>关键字：</span>
                <span><input type="text" name="keyword" value="{$column.keyword}"></span>
            </label>
        </div>

        <div>
            <label>
                <span>描述：</span>
                <span><input type="text" name="ds" value="{$column.ds}"></span>
            </label>
        </div>

        <input type="hidden" name="column_id" value="{$Think.cookie.column_id}">
        <div>
            <label for="#">
                <span></span>
                <span><input type="submit" id="submit" value="保存"></span>
            </label>
        </div>
    </form>
</div>


{/block}

{block name='javascript'}
<script src="/ueditor/ueditor.config.js"></script>
<script src="/ueditor/ueditor.all.js"></script>
<script src="/asset/js/column_edit.js"></script>
{/block}